<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

 <h1>PRODUCTS</h1>
    
 <!-- add product -->
<div class="container">
    <div class="row">
        <div class="col-sm-8">

<form action="/products" method="POST">

    <input type="text" name="title" placeholder="title" required><br>

    <input type="text" name="bookName" placeholder="bookName" required><br>

    <input type="text" name="category" placeholder="category" required><br>

    <input type="text" name="description" placeholder="description" required><br>

    <input type="text" name="img" placeholder="img" required><br>

    <input type="number" name="price" placeholder="price" required><br>

    <input type="text" name="datereleased" placeholder="datereleased" required><br>

    <input type="text" name="created_by" placeholder="created_by" required><br>

    <button type="submit">Add product</button>

</form>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
<!-- delete product -->
<div class="col-sm-6">
    <form action="/products/:id" method="delete"></form>
<button type="delete">DELETE PRODUCT</button>
</div>

<!-- update product -->
<div class="col-sm-6">

</div>

    </div>
</div>

</body>
</html>